.lecture-box {
  height: 100vh;
  width: 100vw;
  background-color: rgb(200, 200, 200);
  padding-top: 10px;
}

.lecture-list-box {
  width: 540px;
  padding-left: 10px;
  background-color: rgb(254, 254, 254);
  padding: 10px auto 30px auto;
  padding-top: 5px;
  margin: 20px auto;
  height: 700px;
  border-radius: 20px;
  font-size: 14px;
}

.lecture-list-name {
  width: 200px;
  height: 30px;
  background-color: rgb(208, 209, 210);
  margin: 20px auto 10px auto;
  text-align: center;
  border-radius: 30px;
  font-size: 17px;
  font-weight: bold;
}

.lecture-category {
  display: flex;
  width: 500px;
  margin-left: 5px;
  background-color: rgb(210, 205, 205);
  font-weight: bold;
  border-radius: 5px;
  padding-top: 5px;
}

.lecture-category-id {
  width: 20px;
  height: 30px;
  text-align: center;
  margin-left: 8px;

  font-size: 15px;
}

.lecture-category-title {
  width: 80px;
  height: 30px;
  padding-left: 5px;
}

.lecture-category-description {
  width: 160px;
  height: 30px;
  padding-left: 5px;
}

.lecture-category-instructor {
  width: 80px;
  height: 30px;
  padding-left: 5px;
}
